body {
	font-family: Helvetica, Arial;
	font-size: 16px;
	width: 1024px;
	margin: 0 auto;
	/*background-color: #D3D3D3;*/
}

#topic{
	padding: 0.5em;
	font-size: 1.2em;	
	width: 900px;
}

/* Chrome not work http://www.electrictoolbox.com/style-optgroup-option-css-chrome/ */
#topic option{
	font-size: 1.2em;
}

#link_top{
	position: absolute;
	margin-left: 0px
	background-color: #bbb;
	/*top: 20px;*/
}

#topic li{
	list-style: none;
	line-height: 1.2em;
}

#topic a{
	text-decoration: none;
}

#menus{
	/*width:1000px;*/
}

.post-main{
	background-color: #204080;
	color: #abc;
	padding-left: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
	padding-top: 4em;
	border-top: 2px solid #aaa;
	-webkit-border-radius: 5px;
}
.post-main a{
	color: #fff;
}

.post-date, .post-user{
	background-color: #abc;
}

#content{
	margin: 0 auto;
	/*background-color: #FFFFFF;
	border-radius: 5px;
	width:1000px;
	height:600px;*/
}
.comment{
	-webkit-border-radius: 5px;
	background-color: #DDDDDD;
	padding: 0.5em;
}

DIV.comment ul{
	list-style: none;
}

#id_room_topic{
	float: left;
	position: absolute;	
	width: 900px;
}

#room_menu{
	float: right;
}

#room_menu li{
	list-style: none;
	line-height: 1.5em;
}